@tailwind base;
@tailwind components;
@tailwind utilities;

textarea:focus,
input:focus {
  outline: none;
}

html,
body,
#root {
  background-color: #fafaf9;
}

@media (prefers-color-scheme: dark) {
  html,
  body,
  #root {
    background-color: #131316;
  }
}

:root {
  --font-serif:
    'IBM Plex Sans', ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-sans:
    'IBM Plex Sans', ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono:
    'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}
